.counter {
    padding: 10px 15px;
    background: black;
    border: 1px solid green;
    color: white;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


    button {
        padding: 10px 20px;
        font-size: 18px;
        color: black;
        border: 1px solid green;
    }

    span {
        font-size: 18px;
        padding: 10px 15px;
        width: 60px;
    }
}